.address-table {
  font-family: Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

